---
export interface Props {
  noPadding?: boolean;
  ariaHidden?: boolean;
}

const { noPadding = false, ariaHidden = true } = Astro.props;
---

<div class:list={["max-w-app mx-auto", noPadding ? "px-0" : "px-4"]}>
  <hr
    class="border-border/80 border-0 border-t border-dashed"
    aria-hidden={ariaHidden}
  />
</div>
